*.debhelper
*.log
*.substvars
/.debhelper/
/debhelper-build-stamp
/files
/ngcp-kamailio-autheph-modules/
/ngcp-kamailio-berkeley-bin/
/ngcp-kamailio-berkeley-modules/
/ngcp-kamailio-carrierroute-modules/
/ngcp-kamailio-cnxcc-modules/
/ngcp-kamailio-cpl-modules/
/ngcp-kamailio-erlang-modules/
/ngcp-kamailio-extra-modules/
/ngcp-kamailio-geoip-modules/
/ngcp-kamailio-geoip2-modules/
/ngcp-kamailio-ims-modules/
/ngcp-kamailio-java-modules/
/ngcp-kamailio-json-modules/
/ngcp-kamailio-kazoo-modules/
/ngcp-kamailio-lcrrate-modules/
/ngcp-kamailio-ldap-modules/
/ngcp-kamailio-lua-modules/
/ngcp-kamailio-memcached-modules/
/ngcp-kamailio-mono-modules/
/ngcp-kamailio-mysql-modules/
/ngcp-kamailio-outbound-modules/
/ngcp-kamailio-perl-modules/
/ngcp-kamailio-postgres-modules/
/ngcp-kamailio-presence-modules/
/ngcp-kamailio-purple-modules/
/ngcp-kamailio-python-modules/
/ngcp-kamailio-radius-modules/
/ngcp-kamailio-redis-modules/
/ngcp-kamailio-sctp-modules/
/ngcp-kamailio-snmpstats-modules/
/ngcp-kamailio-sqlite-modules/
/ngcp-kamailio-tcap-modules/
/ngcp-kamailio-tls-modules/
/ngcp-kamailio-unixodbc-modules/
/ngcp-kamailio-utils-modules/
/ngcp-kamailio-websocket-modules/
/ngcp-kamailio-xml-modules/
/ngcp-kamailio-xmpp-modules/
/ngcp-kamailio/
