Source: ngcp-kamailio
Section: net
Priority: optional
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends:
 bison,
 debhelper (>= 10),
 default-libmysqlclient-dev | libmysqlclient-dev,
 dh-systemd (>= 1.5),
 docbook-xml,
 dpkg-dev (>= 1.16.1.1),
 erlang-dev,
 flex,
 libconfuse-dev,
 libcurl4-openssl-dev,
 libdb-dev (>= 4.6.19),
 libev-dev,
 libevent-dev,
 libexpat1-dev,
 libmaxminddb-dev,
 libhiredis-dev (>= 0.10.0),
 libical-dev,
 libjansson-dev,
 libjson-c-dev,
 libldap2-dev,
 liblua5.1-0-dev,
 libmemcached-dev,
 libmono-2.0-dev [amd64 armel armhf i386 mipsel kfreebsd-amd64 kfreebsd-i386 ppc64 ppc64el s390x],
 libncurses5-dev,
 libpcre3-dev,
 libperl-dev,
 libpq-dev,
 librabbitmq-dev,
 libradcli-dev | libfreeradius-client-dev,
 libreadline-dev,
 libsasl2-dev,
 libsctp-dev [linux-any],
 libsnmp-dev,
 libsqlite3-dev,
 libssl-dev,
 libunistring-dev,
 libxml2-dev,
 ngcp-libswrate-dev (>= 1.1.2+0~1364315461.svn13284.127),
 ngcp-libtcap-dev,
 openssl,
 pkg-config,
 python,
 python-dev,
 unixodbc-dev,
 uuid-dev,
 xsltproc,
 zlib1g-dev,
Standards-Version: 3.9.8
Homepage: https://www.kamailio.org/
Vcs-git: https://anonscm.debian.org/git/pkg-voip/kamailio.git
Vcs-Browser: https://anonscm.debian.org/gitweb/?p=pkg-voip/kamailio.git

Package: ngcp-kamailio
Architecture: any
Multi-Arch: foreign
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 adduser,
 python,
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio,
Replaces:
 kamailio,
Suggests:
 ngcp-kamailio-berkeley-modules,
 ngcp-kamailio-carrierroute-modules,
 ngcp-kamailio-cpl-modules,
 ngcp-kamailio-ldap-modules,
 ngcp-kamailio-lua-modules,
 ngcp-kamailio-mono-modules,
 ngcp-kamailio-mysql-modules,
 ngcp-kamailio-perl-modules,
 ngcp-kamailio-postgres-modules,
 ngcp-kamailio-presence-modules,
 ngcp-kamailio-python-modules,
 ngcp-kamailio-radius-modules,
 ngcp-kamailio-redis-modules,
 ngcp-kamailio-snmpstats-modules,
 ngcp-kamailio-tls-modules,
 ngcp-kamailio-unixodbc-modules,
 ngcp-kamailio-xml-modules,
 ngcp-kamailio-xmpp-modules,
 stun-server | turn-server,
Provides:
 sip-router,
Description: very fast and configurable SIP proxy
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 C Shell-like scripting language provides full control over the server's
 behaviour. Its modular architecture allows only required functionality to be
 loaded.
 .
 This package contains the main Kamailio binary along with the principal
 modules and support binaries.

Package: ngcp-kamailio-geoip2-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-geoip2-modules, ngcp-kamailio-geoip-modules, kamailio-geoip-modules
Replaces:
 kamailio-geoip2-modules, ngcp-kamailio-geoip-modules, kamailio-geoip-modules
Description: contains the geoip2 module
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the geoip2 module, an extension allowing to
 use GeoIP API within configuration file.

Package: ngcp-kamailio-sqlite-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 sqlite3,
Conflicts:
 kamailio-sqlite-modules,
Replaces:
 kamailio-sqlite-modules,
Description: SQLite database connectivity module for Kamailio
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the SQLite database driver for Kamailio.

Package: ngcp-kamailio-json-modules
Architecture: linux-any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-json-modules,
Replaces:
 kamailio-json-modules,
Description: Json parser and jsonrpc modules for Kamailio
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides json parser for Kamailio's configuration file
 and the JSON-RPC client over netstrings.

Package: ngcp-kamailio-memcached-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-memcached-modules,
Replaces:
 kamailio-memcached-modules,
Description: interface to memcached server
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the memcached module, an interface to the memcached
 server, a high-performance, distributed memory object caching system.

Package: ngcp-kamailio-lua-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-lua-modules,
Replaces:
 kamailio-lua-modules,
Description: contains the app_lua module
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the app_lua module, an extension allowing to
 execute embedded Lua applications within configuration file.

Package: ngcp-kamailio-mono-modules
Architecture: amd64 armel i386 mipsel powerpc powerpcspe ppc64 s390x
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-mono-modules,
Replaces:
 kamailio-mono-modules,
Description: contains the app_mono module
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the app_mono module, an extension allowing to
 execute embedded Mono applications within configuration file.

Package: ngcp-kamailio-python-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 python-dev,
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-python-modules,
Replaces:
 kamailio-python-modules,
Description: contains the app_python module
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the app_python module, an extension allowing to
 execute embedded Python applications within configuration file.

Package: ngcp-kamailio-redis-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-redis-modules,
Replaces:
 kamailio-redis-modules,
Description: Redis database connectivity module for Kamailio
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the Redis NOSQL database driver for Kamailio.

Package: ngcp-kamailio-mysql-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 mariadb-client | virtual-mysql-client,
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-mysql-modules,
Replaces:
 kamailio-mysql-module,
Description: MySQL database connectivity module for Kamailio
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the MySQL database driver for Kamailio.

Package: ngcp-kamailio-postgres-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 postgresql-client,
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-postgres-modules,
Replaces:
 kamailio-postgres-module,
Description: PostgreSQL database connectivity module for Kamailio
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the PostgreSQL database driver for Kamailio.

Package: ngcp-kamailio-cpl-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-cpl-modules,
Replaces:
 kamailio-cpl-module,
Description: CPL module (CPL interpreter engine) for Kamailio
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides a CPL (Call Processing Language) interpreter for
 Kamailio, turning Kamailio into a CPL server (storage and interpreter).

Package: ngcp-kamailio-radius-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-radius-modules,
Replaces:
 kamailio-radius-modules,
Description: RADIUS modules for Kamailio
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides a set of RADIUS modules for Kamailio, for
 authentication, peering, group membership and messages URIs checking against
 a RADIUS server.

Package: ngcp-kamailio-unixodbc-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-unixodbc-modules,
Replaces:
 kamailio-unixodbc-modules,
Description: unixODBC database connectivity module for Kamailio
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the unixODBC database driver for Kamailio.

Package: ngcp-kamailio-presence-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-presence-modules,
Replaces:
 kamailio-presence-modules,
Description: SIMPLE presence modules for Kamailio
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides several Kamailio modules for implementing presence
 server and presence user agent for RICH presence, registrar-based presence,
 external triggered presence and XCAP support.

Package: ngcp-kamailio-perl-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Replaces:
 kamailio-perl-modules,
Conflicts:
 kamailio-perl-modules,
Description: Perl extensions and database driver for Kamailio
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides an interface for Kamailio to write Perl extensions and
 the perlvdb database driver for Kamailio.

Package: ngcp-kamailio-snmpstats-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 snmpd,
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-snmpstats-modules,
Replaces:
 kamailio-snmpstats-modules,
Description: SNMP AgentX subagent module for Kamailio
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the snmpstats module for Kamailio. This module acts
 as an AgentX subagent which connects to a master agent.

Package: ngcp-kamailio-xmpp-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-xmpp-modules,
Replaces:
 kamailio-xmpp-modules,
Description: XMPP gateway module for Kamailio
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the SIP to XMPP IM translator module for Kamailio.

Package: ngcp-kamailio-xml-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-xml-modules,
Replaces:
 kamailio-xml-module,
 kamailio-xmlrpc-module,
Provides:
 ngcp-kamailio-xmlrpc-modules,
Description: XML based extensions for Kamailio's Management Interface
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides:
 - the XMLRPC transport implementations for Kamailio's
 Management and Control Interface.
 - xmlops module for XPath operations in configuration file

Package: ngcp-kamailio-carrierroute-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-carrierroute-modules,
Replaces:
 kamailio-carrierroute-modules,
Description: carrierroute module for Kamailio
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the carrierroute module for Kamailio, an integrated
 solution for routing, balancing and blacklisting.

Package: ngcp-kamailio-berkeley-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 db-util (>= 4.6.19),
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-berkeley-modules,
Replaces:
 kamailio-berkeley-modules,
Description: Berkeley database module for Kamailio
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the Berkeley database module for Kamailio, a
 high-performance embedded DB kernel. All database tables are stored
 in files, no additional server is necessary.

Package: ngcp-kamailio-berkeley-bin
Architecture: any
Multi-Arch: foreign
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-berkeley-bin,
Replaces:
 kamailio-berkeley-bin,
Description: Berkeley database module for Kamailio - helper program
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides helper modules for the Berkeley database module for
 Kamailio, a high-performance embedded DB kernel. You should normally
 install kamailio-berkeley-modules and not this package directly.

Package: ngcp-kamailio-ldap-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-ldap-modules,
Replaces:
 kamailio-ldap-modules,
Description: LDAP modules for Kamailio
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the ldap and h350 modules for Kamailio, enabling LDAP
 queries from the Kamailio config and storage of SIP account data in an LDAP
 directory.

Package: ngcp-kamailio-ims-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-ims-modules,
Replaces:
 kamailio-ims-modules,
Description: IMS module for Kamailio
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package contains various Diameter interfaces and modules for Kamailio
 to run as an IMS core.

Package: ngcp-kamailio-utils-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-utils-modules,
Replaces:
 kamailio-utils-modules,
Description: Provides a set utility functions for Kamailio
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 Provides a set of utility functions for Kamailio, which are not related
 to the server configuration.
 .
 Includes http client (http_client) module too

Package: ngcp-kamailio-sctp-modules
Architecture: linux-any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-sctp-modules,
Replaces:
 kamailio-sctp-modules,
Description: sctp module for Kamailio
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the sctp module for Kamailio.

Package: ngcp-kamailio-tls-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-tls-modules,
Replaces:
 kamailio-tls-modules,
Description: contains the TLS kamailio transport module
 This has been split out of the main kamailio package, so that kamailio will
 not depend on openssl. This module will enable you to use the TLS transport.

Package: ngcp-kamailio-outbound-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-outbound-modules,
Replaces:
 kamailio-outbound-modules,
Description: Outbound module for Kamailio
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package contains the module implementing SIP outbound extension.

Package: ngcp-kamailio-websocket-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-websocket-modules,
Replaces:
 kamailio-websocket-modules,
Description: Websocket module for kamailio
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package contains the module implementing WebSocket transport layer.

Package: ngcp-kamailio-autheph-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-autheph-modules,
Replaces:
 kamailio-autheph-modules,
Description: authentication using ephemeral credentials module for Kamailio
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the ephemeral module for Kamailio.

Package: ngcp-kamailio-kazoo-modules
Architecture: linux-any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-kazoo-modules,
Replaces:
 kamailio-kazoo-modules,
Description: kazoo modules for Kamailio
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the kazoo module for Kamailio.

Package: ngcp-kamailio-cnxcc-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-cnxcc-modules,
Replaces:
 kamailio-cnxcc-modules,
Description: cnxcc modules for Kamailio
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides the cnxcc module for Kamailio.

Package: ngcp-kamailio-erlang-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 kamailio-erlang-modules,
Replaces:
 kamailio-erlang-modules,
Description: erlang modules for Kamailio
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This module provides interact with Erlang node. The module allows sending,
 receiving Erlang messages and RPC calls between each other.

Package: ngcp-kamailio-extra-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Conflicts:
 ngcp-kamailio-extra-modules,
Replaces:
 ngcp-kamailio-extra-modules,
Description: extra modules for Kamailio
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package provides: gzcompress uuid ev jansson

Package: ngcp-kamailio-lcrrate-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ngcp-kamailio-mysql-modules (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Description: Provides a set utility functions for Kamailio
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package contains the call rating for least cost routing Module.

Package: ngcp-kamailio-tcap-modules
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends},
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: contains the tcap module
 Kamailio is a very fast and flexible SIP (RFC3261)
 proxy server. Written entirely in C, Kamailio can handle thousands calls
 per second even on low-budget hardware.
 .
 This package contains the tcap Module.
