[Unit]
Description=Kamailio (OpenSER) - the Open Source SIP Server, Proxy
After=mariadb.service
After=network-online.target
After=remote-fs.target
Requires=mariadb.service
Requires=network-online.target
Requires=remote-fs.target

[Service]
Type=simple
User=kamailio
Group=kamailio
PIDFile=/run/kamailio/kamailio.proxy.pid
Environment='CFGFILE=/etc/kamailio/proxy/kamailio.cfg'
# Values of SHM_MEMORY=125 and PKG_MEMORY=32 taken from old sysvinit file
# Amount of shared memory to allocate for the running Kamailio server (in MiB)
Environment='SHM_MEMORY=125'
# Amount of private memory for each Kamailio process (in MiB)
Environment='PKG_MEMORY=32'
# Check if config OK before starting
ExecStartPre=/usr/sbin/kamailio -f $CFGFILE -m $SHM_MEMORY -M $PKG_MEMORY -c
# -DD means to not daemonise
ExecStart=/usr/sbin/kamailio -P /run/kamailio/kamailio.proxy.pid -f $CFGFILE -m $SHM_MEMORY -M $PKG_MEMORY -DD
Restart=on-abort
LimitMEMLOCK=infinity
LimitNOFILE=16384

[Install]
WantedBy=multi-user.target
